<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spark</title>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="./assets/js/jquery-3.2.0.js" charset="utf-8"></script>
    <script src="./assets/js/vue.js" charset="utf-8"></script>
    <script src="./assets/js/arrive.min.js" charset="utf-8"></script>
    <script>if (window.module) module = window.module;</script>
    <link rel="stylesheet" href="./assets/master.css">
    <link rel="stylesheet" href="./assets/fa/css/font-awesome.css">
  </head>
  <body>
    <div class="container">
      <div class="w-icons">
        <div class="min-icon">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
        <div class="max-icon">
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
        </div>
        <div class="close-icon">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <div class="headBar" style="-webkit-app-region: drag">

      </div>
      <div class="topBar">
        <div class="left-items">
          <i class="fa fa-bookmark" aria-hidden="true" id="bookmarkBtn"></i>
          <i class="fa fa-history" aria-hidden="true" id="historyBtn"></i>
          <i class="fa fa-music" style="margin-left: 0;" aria-hidden="true" id="musicBtn"></i>
          <i class="fa fa-cog" aria-hidden="true" id="settingsBtn"></i>
        </div>
        <div class="v-tabs">
          <div :tab-id="tab.id" class="v-tab tab-selected" v-for="tab in tabs">
            <div class="fav">
              <img src="" alt="" onerror="this.style.display='none'">
            </div>
            <div class="lc" style="display:none;">
              <div class="loader">

              </div>
            </div>
            <p v-cloak>{{tab.name}}</p>
            <div class="hide-text">

            </div>
            <div class="tab-close">

            </div>

          </div>
        </div>
        <div class="add-tab">

        </div>
        <div class="actionBar">
          <div class="navBtn">
            <i class="fa fa-chevron-left" aria-hidden="true" id="backBtn"></i>
            <i class="fa fa-chevron-right" aria-hidden="true" id="forwardBtn"></i>
            <i class="fa fa-refresh" aria-hidden="true" id="refreshBtn"></i>
            <i class="fa fa-home" aria-hidden="true" id="homeBtn"></i>
          </div>
          <i class="fa fa-lock is-secure" style="display: none;" aria-hidden="true"></i>
          <input type="text" name="" onClick="this.select();" value="" id="searchBar">
        </div>
        <div class="suggestions-tab">
          <div v-cloak class="suggestion sel" >
            <i class="fa fa-search" aria-hidden="true"></i>
            <p>{{search}}</p>
          </div>
          <div v-cloak class="suggestion" v-for="suggestion in suggestions">
            <i class="fa fa-search" aria-hidden="true"></i>
            <p>{{suggestion}}</p>
          </div>
        </div>
        <div class="favBar">
          <div class="bookmark" v-for="bookmark in bookmarks" :mark-url="bookmark.url" v-cloak>
             {{bookmark.name}}
          </div>
        </div>
      </div>
      <div class="webBrowser">
        <div class="tab" v-for="tab in tabs" :web-id="tab.id">
          <webview :id="tab.id" :src="tab.url" style="display:inline-flex; width:100%; height:100%" useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Spark/0.0.1 Chrome/56.0.2924.87 Safari/537.36"></webview>
        </div>
      </div>
    </div>
  </body>
  <script src="./assets/js/browser.js" charset="utf-8"></script>
</html>
