body{
  font-family: Segoe UI;
  margin: 0;
  overflow: hidden;
  user-select: none;
  cursor: default;
}
.container{
  background-color: #2a2626;
  height: 100vh;
}
#incognitoBtn{
  color: #c30f0f;
}
.topBar{

}
.tabs{
  height: 45px;
}
.webBrowser{
  width: 100%;
  height: calc(100vh - 85px);
}
.actionBar{
  background-color: #2a2626;
  padding: 5px 10px;
  width: calc(100% - 30px);
  background-color: #2a2626;
  float: left;
  border-radius: 7px 0px 0px 0px;
  margin: 0 10px;
}
.navBtn{
  margin-top: 2px;
  float: left;
  color: #e7e7e7;
}
.navBtn>i{
  font-size: 20px;
  padding: 7px;
  margin-right: 10px;
}
.tab-selected{
  background-color: #585858 !important;
}
.tab-selected > p{
  color: #f7f7f7 !important;
}
.tab{
  width: 100%;
  height: calc(100vh - 130px);
  position: absolute;
  top: 130px;
  right: 0;
  background-color: #f7f7f7;
}
.hide-text{
  transform: skew(45deg);
  width: 40px;
  height: 30px;
  position: absolute;
  right: 27px;
  top: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),129px, #eaeaea);
}
.tab-selected > .hide-text {
  transform: skew(45deg);
  width: 40px;
  height: 30px;
  position: absolute;
  right: 27px;
  top: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),21px, #585858);
}
.v-tab{
  max-width: 185px;
  width: 185px;
  -webkit-transform: skew(-45deg);
  background-color: #eaeaea;
  height: 30px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
}
.v-tabs{
  margin-left: 150px;
  float: left;
}
.lc{
  transform: skew(45deg);
  position: absolute;
  top: -42px;
  left: -33px;
  height: 20px;
}
.v-tab > p{
  -webkit-transform: skew(45deg);
  color: #2a2626;
  text-align: left;
  margin-top: 7px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  width: 115px;
  margin-left: 40px;
  font-size: 13px;
}
.tab-selected > p:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),129px, #2a2626);
}
.v-tab:not(.tab-selected) > p:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),129px, #636363) !important;
}

.add-tab{
  width: 30px;
  height: 30px;
  background-color: #d0d0d0;
  -webkit-transform: skew(-45deg);
  float: left;
  margin-left: 10px;
}
.headBar{
  height: 20px;
  width: calc(100% - 135px);
}
.w-icons{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}
.w-icons > div{
  float: left;
  width: 29px;
  height: 24px;
  padding-left: 16px;
  padding-top: 4px;
}
.close-icon:hover{
  background-color: red !important;
}
.w-icons > div:hover{
  background-color: #e2e2e2;
}
.tab-close{
  position: absolute;
  opacity: 0.01;
  top: 0;
  right: 0;
  width: 20px;
  height: 30px;
  background-color: red !important;
}
.left-items{
  position: absolute;
  width: 125px;
  height: 30px;
  font-size: 24px;
  padding: 0 15px;
  top: 14px;
  left: 10px;
  color: white;
}
.left-items > i{
  margin: 0 3px;
}
.suggestions-tab{
  display: none !important;
}
.suggestion > i{
  float: left;
  margin-right: 10px;
}
.suggestion{
  padding-left: 10px;
  padding-top: 5px;
  height: 25px;
  cursor: default;
}
.suggestions-tab.act{
  height: auto;
  max-height: 185px;
  display: block;
}
.suggestion.sel{
  background-color: #4795da !important;
  color: white;
}
.suggestion:hover{
  background-color: #9ad6ff;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: rgb(42, 38, 38);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.suggestion > p{
  margin: 0;
  margin-top: -3px;
}
[v-cloak] {
  display: none;
}
.fav{
  position: absolute;
  width: 15px;
  height: 15px;
  transform: skew(45deg);
  top: 6px;
  left: 15px;
}
.fav > img[src=""]{
  display: none;
}
.fav > img{
  width:  100%;
  height: 100%;
}

.is-secure{
  color: green;
  position: absolute;
  top: 65px;
  left: 203px;
}

.bookmark{
  float: left;
  margin: 0 10px;
}
.favBar{
  height: 30px;
  position: absolute;
  z-index: 999;
  top: 95px;
  width: calc(100% - 40px);
  margin: 0 10px;
  padding: 0 15px;
  background-color: #2a2626;
  color: white;
  border-radius: 0 0 0px 7px;
}
#searchBar{
  height: 24px;
  margin-top: 5px;
  border-radius: 4px 5px 0px 4px;
  border: 0;
  min-width: 200px;
  padding-left: 25px;
  padding-right: 60px;
  width: calc(100% - 480px);
  color: #4c4c4c;
  outline-width: 0;
}
#searchBar.sec{
  padding-left: 25px;
}
.fa-times{
  padding-right: 8.5px !important;
}
.musicBar{
  float: right;
  color: white;
  width: 200px;
}
.musicBar p{
  float: left;
  margin: 0;
  pointer-events: none;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-bar{
  height: 15px;
  margin-top: -5px;
  padding-top: 10px;
  background-color: rgba(0, 255, 255, 0);
  z-index: 9999;
  position: relative;
}

.progress-bar__bg{
  width: 100%;
  background-color: #3a3535;
  height: 4px;
  position: relative;
  border: 1px solid;
  border-radius: 2px;
}
.progress-bar__fg{
  width: 0;
  height: 100%;
  background-color: white;
}
.progress-bar__slider{
  left: 0;
  height: 14px;
  background-color: #e4e4e4;
  position: absolute;
  width: 5px;
  top: -5px;
}
.song-commands{
  position: relative;
  z-index: 9999;
  color: white;
}
.songCtrl{
  float: left;
}
.songCtrl > i{
  margin: 0 5px;
}
.songVol{
  float: left;
  width: 60px;
  padding-top: 8px;
  margin-left: 3px;
}
.songVolTxt{
  font-size: 13px;
  margin-left: 8px !important;
  margin-right: -2px !important;
  margin-top: 1px !important;
}
.search-right{
  position: absolute;
  right: 240px;
  z-index: 9999;
  top: 60px;
  font-size: 18px;
}
.song-title{
  position: relative;
}
#sidePanel{
  position: absolute;
  top: 130px;
  background-color: #2a2626;
  height: calc(100vh - 136px);
  width: 300px;
  left: 10px;
  z-index: 1;
  border-radius: 7px;
}

#sidePanel.open{
  left: 10px;
}
#sidePanel.close{
  left: -300px;
}
.top-connector{
  position: absolute;
  top: 60px;
  right: 202px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 26px 0 0 32px;
  border-color: transparent transparent transparent #ffffff;
}
