body{
  font-family: Segoe UI;
  margin: 0;
  overflow: hidden;
}
.topBar{

}
.tabs{
  height: 45px;
}
.webBrowser{
  width: 100%;
  height: calc(100vh - 85px);
}
.actionBar{
  background-color: #2a2626;
  padding: 2px 10px;
  float: left;
  width: 100%;
}
.navBtn{
  margin-top: 2px;
  float: left;
  color: #e7e7e7;
}
.navBtn>i{
  font-size: 20px;
  padding: 7px;
  margin-right: 10px;
}
.tab-selected{
  background-color: #2a2626 !important;
}
.tab{
  width: 100%;
  height: calc(100vh - 90px);
  position: absolute;
  top: 90px;
}
.v-tab{
  width: 170px;
  -webkit-transform: skew(-45deg);
  background-color: #636363;
  height: 30px;
  float: left;
  margin: 0 5px;
}
.v-tabs{
  margin-left: 150px;
  float: left;
}
.v-tab > p{
  -webkit-transform: skew(45deg);
  color: #e7e7e7;
  text-align: center;
  margin-top: 5px;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  width: 130px;
  margin-left: 19px;
  font-size: 15px;
}
.tab-selected > p:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),129px, #2a2626);
}
.v-tab:not(.tab-selected) > p:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),129px, #636363) !important;
}

.add-tab{
  width: 30px;
  height: 30px;
  background-color: #d0d0d0;
  -webkit-transform: skew(-45deg);
  float: left;
  margin-left: 10px;
}
.headBar{
  height: 20px;
  width: calc(100% - 135px);
}
.w-icons{
  position: absolute;
  top: 0;
  right: 0;
  color: #545151;
}
.w-icons > div{
  float: left;
  width: 29px;
  height: 24px;
  padding-left: 16px;
  padding-top: 4px;
}
.close-icon:hover{
  background-color: red !important;
}
.w-icons > div:hover{
  background-color: #e2e2e2;
}
.tab-close{
  position: absolute;
  opacity: 0.01;
  top: 0;
  right: 0;
  width: 20px;
  height: 30px;
  background-color: red !important;
}
.left-items{
  position: absolute;
  width: 125px;
  height: 30px;
  font-size: 24px;
  padding: 0 15px;
  margin-top: -5px;
}
.left-items > i{
  margin: 0 3px;
}
.suggestions-tab{
  position: absolute;
  top: 90px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  z-index: 99;
  background-color: white;
  overflow: hidden;
  height: 0;
  display: none;
}
.suggestion > i{
  float: left;
  margin-right: 10px;
}
.suggestion{
  padding-left: 167px;
  padding-top: 5px;
  height: 25px;
  cursor: default;
}
.suggestions-tab.act{
  height: auto;
  max-height: 185px;
  display: block;
}
.suggestion.sel{
  background-color: #4795da !important;
  color: white;
}
.suggestion:hover{
  background-color: #9ad6ff;
}
.suggestion > p{
  margin: 0;
  margin-top: -3px;
}
#searchBar{
  height: 24px;
  margin-top: 5px;
  border-radius: 4px;
  border: 0;
  min-width: 300px;
  padding-left: 10px;
  width: calc(100% - 240px);
  color: #4c4c4c;
}
